:root {
    --bgcolor: #33393f;
    --codecolor: #e0eae4;
    --txtcolor: #e866ec;
  }

::selection {
    background-color: #2aefcb;
    color: var(--bgcolor);
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    text-align: center;
    background-color: var(--bgcolor);
}

h1 {
    color: var(--txtcolor);
    font-size: 3rem;
    line-height: 2;
}

h2 {
    color: var(--codecolor);
    margin: auto;
    width: 75%;
}

h3 {
    color: var(--txtcolor);
    font-size: 2rem;
    margin: auto;
    width: 75%;
}

main {
    margin: 2rem auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
}

.column {
    /*border: 1px solid green; */
    flex: 1 0 30%;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px;
    margin-bottom: 1.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px;
    outline: 2px dashed #e0eae4;
    outline-offset: -2px;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }

.card-header {
    display: flex;
    font-size: 1.5rem;
    color: var(--txtcolor);
    border: 2px solid var(--codecolor);
    background-color: var(--bgcolor);
    border-radius: 8px;
    padding: 10px;
    margin: -1.5rem 0rem 1rem 1.5rem;
    width: 90%;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.card-body {
    color: var(--txtcolor);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 10px;
    text-align: left;
}

.code-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #e866ec;
    border-radius: 5px;
    color: #e0eae4;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-align: left;
  }

.card pre {
    /* set styles to make it so code wraps in <pre> instead of overflowing */
    white-space: pre-wrap;
    overflow: auto;
    padding: 1.2rem 1rem;
    color: var(--gin);
    border-radius: 8px;
    /* use linear-gradient() function to create a fading background  */
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    );
    display: flex;
    justify-content: flex-start;
    min-height: 340px;
}

.card pre:active {
    user-select: all;
}

.card:hover, 
.card:hover .card-header {
    box-shadow: inset 0px 0px 8px var(--bgcolor), 0 0 15px var(--bgcolor);
}

@media screen and (min-width: 300px) {
    .column {
      flex: 0 1 90%;
      max-width: 90%;
    }
}

@media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .column {
      flex: 0 0 45%;
      max-width: 45%;
    }
}
  
/* media query for larger screens */
@media screen and (min-width: 2200px) {
    .column {
      flex: 0 0 30%;
      max-width: 30%;
    }
}
 
